<html>
<body>
<script type="text/javascript" src="<%= app_host %>:<%= port %>/socket.io/socket.io.js"></script>
<button onclick="test()">Click</button>
<p id="test"></p>
<script type="text/javascript">
  var socket = io(); //check socket running connection
  socket.emit('join', {
    'room': '35' // ambil dari 
  }, (response) => {
    console.log(response.status); // ok
  });

  function test(files) {
    socket.emit("send-chat", { rows: 'hello'}, (response) => {
      console.log('event send', response);
    });
  }
  socket.on('receive-msg', (data) => {
    console.log('ksini', data.data)
    document.getElementById('test').innerHTML = 'kucing'
  });

</script>
</body>
Welcome to <%= title %>
</html>